.showmore_text{
    color: blue;
    text-decoration: underline;

}

.showmore_text:hover{
    color: lightblue ;
    cursor: pointer;
}


.container{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 50px;
  width: 50%;
  border: 3px solid rgb(51, 148, 222);
  padding: 10px;
}

.text_container{
   word-wrap: break-word;
}